@{
    ViewData["Title"] = "Appointment List";
}



@model List<Appt>


<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>Appointment Date/Time</td>
            <td>Group Name</td>
            <td>Group Size</td>
            <td>Email</td>
            <td>Phone</td>
        </tr>
    </thead>

    <tbody>

        @foreach (var x in Model)
        {
            <tr>
                <td>@x.ApptDate.Remove(2, 3).Insert(2, "/").Remove(5, 3).Insert(5, "/")</td>
                <td>@x.GroupName</td>
                <td>@x.GroupSize</td>
                <td>@x.Email</td>
                <td>@x.GroupPhone</td>


                <td><a asp-controller="Home" asp-action="EditAppt" asp-route-ApptDate="@x.ApptDate">Edit</a></td>
                <td><a asp-controller="Home" asp-action="DeleteAppt" asp-route-ApptDate="@x.ApptDate">Delete</a></td>
            </tr>
        }
    </tbody>
</table>