@{
    ViewData["Title"] = "Scheduler";
}


<table class="table table-bordered table-striped">
    <thead class="font-weight-bold">
        <tr>
            <td>This Week</td>
        </tr>
        <tr>
            <td>Sunday</td>
            <td>Monday</td>
            <td>Tuesday</td>
            <td>Wednesday</td>
            <td>Thursday</td>
            <td>Friday</td>
            <td>Saturday</td>
        </tr>
    </thead>

    <tbody>

        @for (int x = 0; x < 13; x++)
        {
        <tr>
            @for (int t = 0; t < 7; t++)
            {
                @if (t < ViewBag.dayofweek)
                {
                    <td> </td>
                }
                else if (x != 12 && x != 4)
                {
                    @if (ViewBag.taken.Contains(ViewBag.Date.AddDays(t - ViewBag.dayofweek).AddHours((x + 8) % 12).ToString()))
                    {
                        <td><a class="btn btn-secondary">Full</a></td>
                    }
                    else
                    {
                        <td><a class="btn btn-primary" asp-controller="Home" asp-action="AddAppt" asp-route-id="@(ViewBag.Date.AddDays(t-ViewBag.dayofweek).AddHours((x + 8) % 12).ToString())">@Convert.ToString((x + 8) % 12):00</a></td>
                    }
                }
                else
                {
                    @if (x == 4)
                    {
                        @if (ViewBag.taken.Contains(ViewBag.Date.AddDays(t - ViewBag.dayofweek).AddHours(12).ToString()))
                        {
                            <td><a class="btn btn-secondary">Full</a></td>
                        }
                        else
                        {
                            <td><a class="btn btn-primary" asp-controller="Home" asp-action="AddAppt" asp-route-id="@(ViewBag.Date.AddDays(t-ViewBag.dayofweek).AddHours(12).ToString())">12:00</a></td>
                        }

                    }
                    else
                    {
                        @if (ViewBag.taken.Contains(ViewBag.Date.AddDays(t - ViewBag.dayofweek).AddHours(20).ToString()))
                        {
                            <td><a class="btn btn-secondary">Full</a></td>
                        }
                        else
                        {
                            <td><a class="btn btn-primary" asp-controller="Home" asp-action="AddAppt" asp-route-id="@(ViewBag.Date.AddDays(t-ViewBag.dayofweek).AddHours(20).ToString())">8:00</a></td>
                        }
                    }

                }

            }
        </tr>
        }
    </tbody>
</table>

@for (int i = 0; i < 12; i++)
{
    <table class="table table-bordered table-striped">
        <thead class="font-weight-bold">
            <tr>
                <td>Week @i</td>
            </tr>
            <tr>
                <td>Sunday</td>
                <td>Monday</td>
                <td>Tuesday</td>
                <td>Wednesday</td>
                <td>Thursday</td>
                <td>Friday</td>
                <td>Saturday</td>
            </tr>
        </thead>

        <tbody>

            @for (int x = 0; x < 13; x++)
            {
            <tr>
                @for (int t = 0; t < 7; t++)
                {
                    @if (x != 12 && x != 4)
                    {
                        @if (ViewBag.taken.Contains(ViewBag.Date.AddDays((6 - ViewBag.dayofweek) + (7 * i) + (1 + t)).AddHours((x + 8) % 12).ToString()))
                        {
                            <td><a class="btn btn-secondary">Full</a></td>
                        }
                        else
                        {
                            <td><a class="btn btn-primary" asp-controller="Home" asp-action="AddAppt" asp-route-id="@(ViewBag.Date.AddDays((6 - ViewBag.dayofweek) + (7*i) + (1+t)).AddHours((x + 8) % 12).ToString())">@Convert.ToString((x + 8) % 12):00</a></td>
                        }

                    }
                    else
                    {
                        @if (x == 4)
                        {
                            @if (ViewBag.taken.Contains(ViewBag.Date.AddDays((6 - ViewBag.dayofweek) + (7 * i) + (1 + t)).AddHours(12).ToString()))
                            {
                                <td><a class="btn btn-secondary">Full</a></td>
                            }
                            else
                            {
                                <td><a class="btn btn-primary" asp-controller="Home" asp-action="AddAppt" asp-route-id="@(ViewBag.Date.AddDays((6 - ViewBag.dayofweek) + (7*i) + (1+t)).AddHours(12).ToString())">12:00</a></td>
                            }
                        }
                        else
                        {
                            @if (ViewBag.taken.Contains(ViewBag.Date.AddDays((6 - ViewBag.dayofweek) + (7 * i) + (1 + t)).AddHours(20).ToString()))
                            {
                                <td><a class="btn btn-secondary">Full</a></td>
                            }
                            else
                            {
                                <td><a class="btn btn-primary" asp-controller="Home" asp-action="AddAppt" asp-route-id="@(ViewBag.Date.AddDays((6 - ViewBag.dayofweek) + (7*i) + (1+t)).AddHours(20).ToString())">8:00</a></td>
                            }
                            
                        }

                    }

                }
            </tr>
            }
        </tbody>
    </table>
}
